
/* ---------------------------------------------------------------------- */
/*	Color Styling
/* ---------------------------------------------------------------------- */

/* Color Yellow */

.color .navigation > div > ul > li:hover > a,
.color .navigation > div > ul > li.current-menu-item > a,
.color .navigation > div > ul > li.current-menu-parent > a,
.color .navigation > div > ul > li.current-menu-ancestor > a,
.color .navigation > div > ul > li.current_page_item > a,
.color .navigation > div > ul > li.current_page_parent > a,
.color .navigation > div > ul > li.current_page_ancestor > a,
				
.color .navigation > div > ul li.current-menu-item > a,

.color .navigation > div > ul ul li:hover > a,
.color .navigation > div > ul ul li.current-menu-item > a,
.color .navigation > div > ul ul li.current-menu-parent > a,
.color .navigation > div > ul ul li.current-menu-ancestor > a,
.color .navigation > div > ul ul li.current_page_item > a,
.color .navigation > div > ul ul li.current_page_parent > a,
.color .navigation > div > ul ul li.current_page_ancestor > a,

.color .simple-pricing-table.type-1 .featured .cost,
.color .simple-pricing-table.type-2 .title,
.color .widget_popular_posts a:hover h6,
.color .portfolio-filter li a:hover,
.color #sidebar .widget li a:hover,
.color .portfolio-filter .active, 
.color .entry-meta span:before,
.color .entry-title h2 a:hover,
.color .project-meta span:hover,
.color #sidebar .jta-tweet-a, 
.color .entry-meta a:hover,
.color .author-entry h5,
.color #footer a:hover,
.color .tooltip,
.color a:hover
{
	color: #e8bf00;
}


/* Background Color */
.color .navigation > div > ul > li.current-menu-parent > a,
.color .navigation > div > ul > li.current-menu-ancestor > a,

.color .simple-pricing-table.type-2 .featured .price,
.color .simple-pricing-table .featured .button,
.color .jta-tweet-list-controls span:hover,
.color .simple-pricing-table.type-1 .title,
.color .gallery-slider-nav:hover a:hover,
.color .post-slider-nav:hover a:hover,
.color .flex-direction-nav a:hover,
.color .portfolio-controls a:hover,
.color .acc-trigger.active:before,
.color #layerslider .inline-h2,
.color .detail-box .transform,
.color .jcarousel-prev:hover,
.color .jcarousel-next:hover,
.color .pagenavi .current,
.color .button.default:hover,
.color .ajax-nav .current a, 
.color ul.type-1 li:before,
.color .quotes-nav a:hover,
.color #back-top:hover,
.color .dropcap.color,
.color i.small-arrows,
.color .curtain,
.color .button.color,
.color .f-box:hover .iconcircle,
.color .f-box:hover .icondisk,
.color .iconcircle:hover,
.color .icondisk:hover,
.color .chart .percentage-light  
{
	background-color: #e8bf00; 
}



/* Border Color */

.color .portfolio-items article:hover .project-meta,
.color .projects-carousel li:hover > a,
.color .ajax-nav li:hover:before,
.color .ajax-nav .current:before,
.color .tabs-nav .active,
.color .team-entry:hover
{ 
	border-color: #e8bf00; 
}

/* Selection */ 


.color ::-moz-selection	{ background-color: #e8bf00; } 
.color ::selection		{ background-color: #e8bf00; }
.color .highlight			{ background-color: #e8bf00; }

#logo { background-image: url(../../images/logo/logo_yellow.png); }